---
const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>1tpp - {title}</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@1tppdotdev" />
    <meta name="twitter:creator" content="@1tppdotdev" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${Astro.url.origin}/og.jpg`} />
    <meta name="theme-color" content="#222222" />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="alternate"
      href="/rss.xml"
      type="application/rss+xml"
      title="RSS"
    />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href="/sitemap.xml"
    />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
