---
import { pwaInfo } from "virtual:pwa-info";

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>1tpp - {title}</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@1tppdotdev" />
    <meta name="twitter:creator" content="@1tppdotdev" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${Astro.url.origin}/og.jpg`} />
    <meta name="theme-color" content="#222222" />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="alternate"
      href="/rss.xml"
      type="application/rss+xml"
      title="RSS"
    />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href="/sitemap-index.xml"
    />
    <slot name="head" />
    <script>
      import "../scripts/router.js";
    </script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>
    
    <style is:global>
      .turbo-progress-bar {
        @apply bg-rose-500;
      }

      .button {
        min-width: 150px;
        max-width: 250px;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
      }

      .button.button--aylen {
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
      }
      .button--aylen::before,
      .button--aylen::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 100%;
        left: 0;
        z-index: -1;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      }
      .button--aylen::before {
        background: #fff1f2;
      }
      .button--aylen::after {
        background: #e11d48;
      }
      .button--aylen:hover::before,
      .button--aylen:hover::after {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
      .button--aylen:hover::after {
        -webkit-transition-delay: 0.175s;
        transition-delay: 0.175s;
      }
    </style>
  </head>
  <body class="bg-neutral-950 text-neutral-100">
    <slot />
  </body>
</html>
